.mb-2 {
  margin-bottom: 10px;
}

.inactive {
  background: red;
  color: white;
  padding: 5px;
  border-radius: 8px
}

.active {
  background: green;
  color: white;
  padding: 5px;
  border-radius: 8px
}
